* {
    box-sizing: border-box;
    margin: 0;
    font-family: Consolas, monaco, monospace;
    color: #444444;
    height: auto;
    max-width: 100%;
   
}


main {
    margin: 0 auto;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(11, 1fr); 
    grid-template-rows: 100px; 
}

p {
    font-family: Courier;
    font-size: 13px;
    color: #777777;
    padding: 20px;
}


h3 {
    padding-top: 10px;
    padding-left: 20px;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}


button:hover {
    background-color: #555555;
    color: white;
}


#btn-2 {
    margin-left: 10px;
    margin-bottom: 10px;

}

#menu {
    grid-column: 1 / 13; /*Indicaremos desde que columna inicia y hasta cuál termina el primer section*/
    background-color: #efefef;
    padding: 30px;
    
    }


 #first-image {
    grid-column: 1 / 12;
 }   


.float-left {
    float: left;

}

.text-logo {
    font-size: 20px;
    border: 1px solid #444;
    box-shadow: 5px 5px 5px grey;
    padding: 10px;
    font-family: Courier;
   
}

.float-right {
    float: right;
}

.menu-item:link, .menu-item:visited {
    text-decoration: none;
    margin-left: 30px;
}

.menu-item:hover {
    color: #666666;
}


.about {
    grid-column: 1 / 8;
    padding: 80px;

}

.contact {
    grid-column: 8 / 12;
    padding: 80px;
}


#card-1 {
    grid-column: 1 / 4;
    
}

#card-2 {
    grid-column: 5 / 8;
    
}

#card-3 {
    grid-column: 9 / 12;
    
}

.card-info {
    border: 2px solid black;
    margin: 23px;
}

.card-photo {
    height: 28vh;
    width: 100vw;

}

footer {
    grid-column: 1 / 12;
    background-color: #ccc;
    padding: 10px;


}

#copyright {
    text-align: center;
    padding: 10px;
}



    /* Sección responsive */

@media only screen and (max-width: 768px){

    #menu {
        grid-column: 1 / 12;
        
    }

    #first-image {
        grid-column: 1 / 12;

        
    }

    .about {
        grid-column: 1 / 12;
        
    }

    .contact {
        grid-column: 1 / 12;
       

    }

    #card-1{
        grid-column: 1 / 12;
        
    }

    #card-2 {
        grid-column: 1 / 12;
    }

    #card-3 {
        grid-column: 1 / 12;
    }


    footer {
        grid-column: 1 / 12;
    
    }

}


